<!Doctype html>
<html lang="en">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Player profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <main class="mx-5 my-5">
        <div data-th-unless="${#lists.isEmpty(allPlayers)}" class="container-md">
            <div class="row">
                <h1>Players</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Stadt</th>
                            <th scope="col">Straße</th>
                            <th scope="col">Plz</th>
                            <th scope="col">Land</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-th-each="elem,iter : ${allPlayers}">
                            <td data-th-text="${{iter.index +1}}" />
                            <td data-th-text="${{elem.name}}" />
                            <td data-th-text="${{elem.age}}" />
                            <td data-th-text="${{elem.city}}" />
                            <td data-th-text="${{elem.street}}" />
                            <td data-th-text="${{elem.plz}}" />
                            <td data-th-text="${{elem.country}}" />
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>