<!Doctype html>
<html lang="en">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Player profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <main class="mx-5 my-5">
        <div data-th-unless="${#lists.isEmpty(players)}" class="container-md">
            <div class="row">
                <h1>Players</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Alter</th>
                            <th scope="col">Position</th>
                            <th scope="col">Geburtsdatum</th>
                            <th scope="col">Geburtland</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-th-each="elem : ${players}">
                            <td data-th-text="${{elem.id}}" />
                            <td data-th-text="${{elem.name}}" />
                            <td data-th-text="${{elem.alter}}" />
                            <td data-th-text="${{elem.position}}" />
                            <td data-th-text="${{elem.dateOfBirth}}" />
                            <td data-th-text="${{elem.countryOfBirth}}" />
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>